body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color:grey;
    text-align: center;
    color: black;
    
}
header{
    background-color: greenyellow;
    color:black;
    padding: 2rem 1rem;
    text-align:right;
    font-weight: bolder;
}
footer{
    background-color: greenyellow;
    color:black;
    text-align: center;
    font-weight: bolder;
}